@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.Home {
	font-family: "Titillium Web", sans-serif;
	margin: 0px !important;
	border: none !important;
	padding: 0.5em;
	color: #000000;
	background: linear-gradient(rgb(0, 125, 179), rgb(0, 153, 255));
	height: 100vh;
}

:root,
body {
	margin: 0px;
}

.body {
	margin: 0px;
}

.about {
	font-size: large;
}

a {
	text-decoration: none;
	color: black;
}

.muiBox-root {
	border: 5px solid black !important;
}
/* editing mui */
.css-0 {
	border: 3px solid black !important;
	border-radius: 1em;
	padding: 0.7rem;
	max-width: 20%;
	background: linear-gradient(to right, rgb(0, 77, 128), lightblue);
}

ul {
	list-style-type: none;
}

.glow {
	background-color: white;
	height: 1px;
	width: 1px;
}